@font-face
  font-family: 'KelsonSans-Bold'
  src: url('/assets/fonts/KelsonSans-Bold.ttf') format('truetype')

@font-face
  font-family: 'KelsonSans-Light'
  src: url('/assets/fonts/KelsonSans-Light.ttf') format('truetype')

@font-face
  font-family: 'KelsonSans-Normal'
  src: url('/assets/fonts/KelsonSans-Normal.ttf') format('truetype')